# March Madness Monte Carlo Simulation

Use information to try to predict the 2023 March Madness Men's and Women's Basketball Championships.

## Configure Notebook and Download Competition Items

In [3]:
from pathlib import Path

cred_path = Path('~/.kaggle/kaggle.json').expanduser()
if not cred_path.exists():
    cred_path.parent.mkdir(exist_ok=True)
    cred_path.write_text(creds)
    cred_path.chmod(0o600)

In [4]:
from pathlib import Path
import os

iskaggle = os.environ.get('KAGGLE_KERNEL_RUN_TYPE', '')
if iskaggle:
    path = Path('../input/march-machine-learning-mania-2023')
    !pip install -Uqq fastai
else:
    import zipfile,kaggle
    path = Path('march-machine-learning-mania-2023')
    if not path.exists():
        kaggle.api.competition_download_cli(str(path))
        zipfile.ZipFile(f'{path}.zip').extractall(path)

Downloading march-machine-learning-mania-2023.zip to /Users/addingtongraham/github-repos/main-ML/march-madness-simulation

100%|██████████| 28.5M/28.5M [00:00<00:00, 36.9MB/s]

## Preview Data

In [5]:
# import dependencies
import pandas as pd

Load the cities dataset to preview available data.

In [6]:
# save dataset to pandas dataframe
cities = pd.read_csv(path/'cities.csv')

# preview dataset
cities.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

Load the conferences dataset

In [7]:
# save dataset to pandas dataframe
conferences = pd.read_csv(path/'conferences.csv')
conferences.head()

  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference