# Initial EDA

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
path = Path('/Users/addingtongraham/github-repos/main-ML/march-madness-simulation/')
data_files = path/'data'

df = pd.read_csv(data_files/'initial_preprocessed.csv')

/var/folders/04/whwls5095tz8s5mxv15jpsvr0000gn/T/ipykernel_75407/3818455442.py:4: DtypeWarning: Columns (11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_files/'initial_preprocessed.csv')

In [3]:
# preview dataset
df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,gender,WTeamConf,LTeamConf,CRType,CityID,WTeamSeed,LTeamSeed,ID,Pred
0,2019,108,1190,94,1440,70,A,0,men,southern,southern,Regular,4194.0,NaN,NaN,2019_1190_1440,1
1,2007,82,3426,75,3394,60,A,0,women,southland,southland,NaN,NaN,NaN,NaN,2007_3426_3394,1
2,2012,51,1179,87,1146,64,H,0,men,mvc,southland,Regular,4097.0,NaN,NaN,2012_1179_1146,1
3,2009,71,1326,77,1231,53,H,0,men,big_ten,big_ten,NaN,NaN,NaN,NaN,2009_1326_1231,1
4,1998,69,3361,68,3363,55,H,0,women,wac,wac,NaN,NaN,NaN,NaN,1998_3361_3363,1